* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
}

.navbar__s1__title {
    color: #a435f0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2__input {
    border: none;
    width: 100%;
}

.navbar__s2__input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale-image img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.course-card {
    width: 300px;
}

.course-card img {
    width: 100%;
    border-radius:5px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.topics{
    padding: 10px;
}
.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topics__container p{
    margin-top: 10px;
    border: solid grey 1px;
    padding: 10px;
    display: flex;
    flex-basis: 25%;
    flex-grow:1;
}

.popular{
    padding: 10px;
    margin-top: 30px;
}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
}

.footer__one{
    display: flex;
}

.footer__one p{
    margin: 10px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}